@font-face {
  font-family: 'Ember-Display_Bold';
  src: url('./fonts/Ember_Display/AmazonEmberDisplay_Bd.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.font-ember-display-bold {
  font-family: 'Ember-Display_Bold';
}

@font-face {
  font-family: 'Ember-Display_Headvy';
  src: url('./fonts/Ember_Display/AmazonEmberDisplay_He.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

.font-ember-display-heavy {
  font-family: 'Ember-Display_Headvy';
}

@font-face {
  font-family: 'Ember-Display_Light';
  src: url('./fonts/Ember_Display/AmazonEmberDisplay_Lt.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

.font-ember-display-light {
  font-family: 'Ember-Display_Light';
}

@font-face {
  font-family: 'Ember-Display_Regular';
  src: url('./fonts/Ember_Display/AmazonEmberDisplay_Rg.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

.font-ember-display-regular {
  font-family: 'Ember-Display_Regular';
}

@font-face {
  font-family: 'Ember-Display_Medium';
  src: url('./fonts/Ember_Display/AmazonEmberDisplay_Md.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

.font-ember-display-medium {
  font-family: 'Ember-Display_Medium';
}